.navbar{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #f1356d;
}

.navbar .links{ /*Allows home and profile go right becoz
  the parent navbar : display : flex*/
  margin-left: auto;
}

.navbar a{ /*separate home and profile*/
  margin-left: 16px;
  padding:6px;
}



